<% provide(:title, "#{@user.username} - Task") %>
<div class="row">
	<div class = "col-sm-1"></div>

	<div class = "col-sm-5">
		<h1><%= link_to @user.username, user_path(@user) %></h1>
		<h2>Task Title:</h2>
		<p><%= @task.title %></p>
		<h2>Status</h2>
		<% if @task.done == false %>
			<p>Not done</p>
		<% else %>
			<p>Done</p>
		<% end %>
		<% if @user == current_user %>
			<%= link_to "Delete", task_path, method: :delete, class: "btn btn-danger" %>
			<%= form_for @task do |f| %>
				<%= f.hidden_field :done, :value=> true %>
				<%= f.submit "Done", class: "btn btn-primary" %>
			<% end %>
		<% end %>
	</div>

	<div class = "col-sm-5">
		<h2>Comments</h2>
		<ol>
		<% @comments.each do |comment| %>
			<li>
				<%= comment.user.username %> says <%= comment.body %>. 
				<% if comment.user == current_user %>
					<%= link_to 'Destroy Comment', [comment.task, comment], method: :delete %>
				<% end %>
			</li>
		<% end %>
		</ol>

		<h2>Add Comment</h2>
		<%= form_for([@task, @task.comments.build]) do |f| %>
			<p>
				<%= f.text_area :body %>
			</p>
			<p>
				<%= f.submit %>
			</p>
		<% end %>
	</div>
</div>