<!-- This part loads the Done Task div of the profile page -->
<div>
	<% if @tasks.count > 0 %>
		<table>
			<tr class = "container">
				<th></th>
				<th></th>
				<th></th>
			</tr>
			<% @tasks.each do |t| %>
				<% if t.done == true %>
					<tr>
						<td class = "col-sm-12" id = "hy"><%= t.title %></td>
						<td><%= link_to "Delete", t, method: :delete, class: "btn btn-danger" %></td>
						<td><%= form_for t do |f| %>
								<%= f.hidden_field :done, :value=> false %>
								<%= f.submit "Undo", class: "btn btn-primary" %>
							<% end %>
						</td>
					</tr>
				<% end %>
			<% end %>
		</table>
	<% end %>
</div>