<!-- This part loads the entry form to create new task for the user -->
<div>
	<%= form_for(@task) do |f| %>
		<div><%= f.label :title %><br>
			<%= f.text_area :title, placeholder: "Create new task...", class: "form-control" %>
		</div>
		<div>
			<%= f.check_box :private %>
			<%= f.label :private %>
		</div>
		<div>
			<%= f.label :due_date %>
			<%= f.date_field :due_date %>
		</div>
		<%= f.submit "Add", class: "btn btn-primary pull-right" %>
	<% end %>
</div>