<!-- This part laods the This Week To Do List Tab of the Profile Page -->
<div>
	<% if @tasks.count > 0 %>
		<table>
			<tr class = "container">
				<th></th>
				<th></th>
				<th></th>
			</tr>
			<% @tasks.each do |t| %>
				<% if t.user == current_user %>
					<% if t.done == false and (Date.today.at_beginning_of_week..Date.today.at_end_of_week) === t.due_date %>
						<tr>
							<td class = "col-sm-12" id = "hy2">
								<% if t.private == true %>
									Private:
								<% end %>
								<%= link_to "#{t.title}", task_path(t) %>
							</td>
							<td><%= t.due_date %></td>
							<% if @user == current_user %>
								<td><%= link_to "Delete", t, method: :delete, class: "btn btn-danger" %></td>
								<td><%= form_for t do |f| %>
										<%= f.hidden_field :done, :value=> true %>
										<%= f.submit "Done", class: "btn btn-primary" %>
									<% end %>
								</td>
							<% end %>
						</tr>
					<% end %>
				<% else %>
					<% if t.done == false and t.private == false %>
						<tr>
							<td class = "col-sm-12" id = "hy2"><%= link_to "#{t.title}", task_path(t) %></td>
							<td><%= t.due_date %></td>
						</tr>
					<% end %>
				<% end %>
			<% end %>
		</table>
	<% end %>
</div>