<!-- This part laods the To Do List of the Profile Page -->
<div>
	<% if @tasks.count > 0 %>
		<table>
			<tr>
				<th>Title</th>
				<th>Status</th>
				<th>Done B</th>
				<th>Delete</th>
			</tr>
			<% @tasks.each do |t| %>
				<% if t.done == false %>
					<tr>
						<td><%= t.title %></td>
						<td><%= t.done %></td>
						<td><%= link_to "Delete", t, method: :delete %></td>
						<td><%= form_for t do |f| %>
								<%= f.hidden_field :done, :value=> true %>
								<%= f.submit "Done" %>
							<% end %>
						</td>
					</tr>
				<% end %>
			<% end %>
		</table>
	<% end %>
</div>