<header>

	<div class = "navbar navbar-default navbar-fixed-top">

      <div class = "container">
        <div class = "navbar-brand"><a href="#">The Super Awesome To-Do List</a></div>

        <button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
          <span class = "icon-bar"></span>
          <span class = "icon-bar"></span>
          <span class = "icon-bar"></span>
        </button>

		<div class = "collapse navbar-collapse navHeaderCollapse">
		<ul class = "nav navbar-nav navbar-right">
			
			<% if user_signed_in? %>
				<li>
					<%= link_to "#{current_user.username}", profile_path %>
				</li>
				<li>
					<%= link_to "Users", index_path %>
				</li>
				<li><%= link_to "Sign out", destroy_user_session_path, method: :delete %>
				</li>
			<% else %>
				<li>
					<%= link_to "Home", root_path %>
				</li>
				<li>
					<%= link_to "Sign up", new_user_registration_path %>
				</li>
				<li>
					<%= link_to "Sign in", new_user_session_path %>
				</li>
			<% end %>
			</li>
		</ul>
	</div>
	
</header>

